@model Flurfunk.Data.Model.User
@using Flurfunk.Helper

<div class="row">
    <div class="span3 sidebar">
        <h3>
            <img src="@Url.ProfilePicture(Model)" style="height: 55px" />@Model.Name
        </h3>
        <div ng-controller="sendMessageController">
            <form class="form" ng-submit="sendMessage()">
                <div class="control-group">
                    <div class="controls">
                        <textarea ng-model="message" ng-change="messageUpdate()" placeholder="Teile es mit {{groupName}}…" class="span3" id="textarea" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-{{messageButtonClass}}">Senden</button>
                    <h3 style="float: right">{{140 - message.length}}</h3>

                </div>
            </form>
        </div>

        <div ng-controller='filterController'>
            <h2>Filter</h2>
            <div class="input-append">

                <input class="span3" ng-model="filterKeyword" ng-change="filterUpdate()" placeholder="nach Schlagwort filtern" size="16" type="text">
                <button ng-click="addFilter()" class="btn {{addButtonClass}}" type="button">+</button>

            </div>
            <ul class="nav nav-pills nav-stacked filters">                
                <li ng-repeat='filter in filters' id="filter-{{$index}}"><a href="" ng-click="selectFilter($index)"><span class="keyword">{{filter}}</span>
                    <button ng-click="removeFilter(filter)" eat-click class="close">&times;</button>
                </a></li>
            </ul>
        </div>

        <div ng-controller='groupController'>
            <h2>Gruppen</h2>
            <div id="groups" class="input-append btn-group {{search}}">
                <input class="span3" id="appendedInputButton"  ng-model="groupName" ng-change="groupNameUpdate()"  placeholder="Gruppe suchen oder erstellen" size="16" type="text">
                <button class="btn {{addButtonClass}}" ng-click="addGroup()" style="margin-left: 0px;" type="button">+</button>
            
                <ul class="dropdown-menu" style="width: 100%;">
                    <li ng-repeat='result in serchResult' ng-click="join(result.id)"><a href="">{{result.name}}</a></li>                 
                    <li class="divider"></li>
                    <li><a href="#" ng-click="closeSearch()">Schließen</a></li>
                </ul>
            </div>
            <ul class="nav nav-pills nav-stacked groups">
                <li ng-repeat='group in groups' id="group-{{$index}}"><a href="" ng-click="selectGroup($index, group.id)"><span class="groupName">{{group.name}}</span><button ng-click="leave(group.id)" eat-click  class="close">&times;</button></a></li>               
            </ul>
        </div>
    </div>

    <div ng-controller='loadMessageController'>
        <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy'>
            <div class="row span9" style="float: right" ng-repeat='item in items'>
                <div id="{{item._id}}" class="span8 textmessage">
                    <span class="messageImage">
                        <img src="{{getUserImageUrl(item.Creator.ProviderId)}}" />
                    </span>
                    <p class="span6">{{item.Text}}</p>
                    <small class="span4">von {{item.Creator.Name}} am {{getTimeString(item.Created)}}</small>
                </div>
            </div>
            @*  <div ng-show='busy'>Loading data...</div>*@
        </div>
    </div>
</div>