@{
    ViewBag.Title = "";
}
@section featured {
    @* <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>*@
}
<div class="row">
    <div class="span3 sidebar">
        <h3>
            <img src="~/Images/koitz.jpg" style="height: 100px" />
            Michael Koitz</h3>
        <div ng-controller="sendMessageController">
            <form class="form" ng-submit="sendMessage()">
                <div class="control-group">
                    <div class="controls">
                        <textarea ng-model="message" ng-change="messageUpdate()" placeholder="Teile es mit allen…" class="span3" id="textarea" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-{{messageButtonClass}}">Senden</button>
                    <h3 style="float: right">{{140 - message.length}}</h3>

                </div>
            </form>
        </div>

        <h2>Filter</h2>
        <div class="input-append">
            <input class="span3" id="appendedInputButton" placeholder="nach Schlagwort filtern" size="16" type="text">
            <button class="btn" type="button">+</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">alle Nachrichten</a></li>
            <li><a href="#">Kunden</a></li>
            <li><a href="#">Mittagessen</a></li>
        </ul>
        <h2>Gruppen</h2>
        <div class="input-append">
            <input class="span3" id="appendedInputButton" placeholder="neue Gruppe erstellen" size="16" type="text">
            <button class="btn" type="button">+</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Projekt A</a></li>
            <li><a href="#">Mittagessen Gruppe</a></li>
            <li><a href="#">Abteilung B</a></li>
        </ul>
    </div>

  @*  <div ng-controller="loadMessageController">
        <div class="row span9" style="float: right">
            @for (int i = 0; i < 25; i++)
            {
                <div class="span8 textmessage">
                    <a style="float: left; margin-right: 5px;" href="#User#Koitz">
                        <img src="~/Images/koitz.jpg" style="max-height: 75px" /></a>
                    Mit Einhundertundvierzig Zeichen Text kann man eine Menge sagen wenn man es clever formuliert. So kann man Informationen schnell teilen.
                </div>   
            }

        </div>
    </div>*@

  <div ng-controller='loadMessageController'>      
  <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy'>
    <div class="row span9" style="float: right" ng-repeat='item in items'>
          <div id="{{item._id}}" class="span8 textmessage">
                    <a style="float: left; margin-right: 5px;" href="#User#Koitz">
                        <img src="~/Images/koitz.jpg" style="max-height: 75px" /></a>     
              <p class="span6">{{item.Text}}</p>
              <small class="span4">von michael koitz am {{getTimeString(item.Created)}}</small>
          </div>  
    </div>
  @*  <div ng-show='busy'>Loading data...</div>*@
  </div>
</div>
</div>
